
/* colors: 
primary-color: White;
secondary-color: #DAF0EE;
tertiary-color: #94D1BE;
accent1: #9DB5B2;
accent2: #3B413C;
*/

body{
    background-color: #DAF0EE;
}

#app{
    background-color: #9DB5B2;
    text-align: center;
    font-size: x-large;
}

#taskbar{
    background-color: #94D1BE;
    justify-content: center;
    justify-items: center;
    margin: auto;
}

#headerBox{
    margin-left: 5em;
}

#textBox{
    margin-left: 2em;
}
.noteCard{
    background-color: white;
    width: 200px;
    height:200px;
    display: inline-flex;
    margin-top: 2em;
    margin-left: 2em;
}